[submodule "anythingllm-custom-agent-timestamp"]
	path = anythingllm-custom-agent-timestamp
	url = git@github.com:rmrfslashbin/anythingllm-custom-agent-timestamp.git
[submodule "osm-api-interface"]
	path = osm-api-interface
	url = git@github.com:rmrfslashbin/anythingllm-cutom-agent-osm-api-interface
[submodule "neo4j-graph-query"]
	path = neo4j-graph-query
	url = git@github.com:rmrfslashbin/nythingllm-custom-agent-neo4j-graph-query
